<div class="row">
  <div class="col-md-12">
    <%= image_tag @photo.picture.url(:web), class: 'img img-responsive' %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', photo: @photo %>
  </div>
</div>

